@import './var-mixin.scss';

.navbar {
  @include display(row, space-between, center);
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 10;
  padding: 0 15px;
  padding-right: 85px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));

  @media (max-width: 668px) {
    padding: 0 15px;

    .navlinks {
      width: 40%;
    }
  }

  .search {
    @include display(row, flex-end, center);
    width: 50%;
  }

    input[type=text] {
      width: 50%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 15px;
      font-size: 16px;
      background-color: white;
      background-image: url('../Images/search.png');
      background-position: 5px;
      background-size: 25px 25px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      transition: width 0.4s ease-in-out;

      @media (max-width: 668px) {
        width: 100%;
        background-position: 7px;
        background-size: 15px 15px;
        padding: 5px 2px 5px 25px;
      }
    }

    input[type=text]:focus {
      width: 80%;
    }

    button {
      @include button(15px, white, $accent-color);
      height: fit-content;
      margin-left: 15px;
      padding: 7px;

      @media (max-width: 668px) {
        margin-left: 5px;
        padding: 3px;
      }
    }
  

  a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
    margin-left: 10px;
  }

  .active {
    opacity: 1;
  }
}
