@import './var-mixin.scss';

.no-results {
  @include display(row, center, center);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  padding: 60px;
  position: absolute;
  top: 0;

  h2 {
    font-size: 2em;
  }
}

.all-shows-container {
  position: absolute;
  top: 0;
  padding: 0 20px;
  padding-top: 50px;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;

  .page-navigator {
    @include display(row, space-around, center);
    padding: 0 40%;

    @media (max-width: 1024px) { 
        padding: 0px;
    }

    p {
        font-size: 1.2em;
        margin: 5px;
    }

    button {
      @include button(15px, white, $accent-color);
      height: 25px;
      width: 25px;
      padding: 5px;
    }

    .hidden {
      opacity: 0;
      cursor: unset;
    }
  }

  .all-shows {
    @include display(row, center, unset);
    flex-wrap: wrap;
    background-color: transparent;

    a {
      background-color: rgba(53, 36, 36, 0.35);
      width: 23%;
      height: 250px;
      margin: 15px;
      text-decoration: none;
      border: 1px solid #b3b3b31c;

      @media (max-width: 667px) {
        width: 100%;
      }

       @media (min-width: 668px) and (max-width: 1025px) {
         width: 20%;
       }
    }

    .show-item {
      @include display(column, flex-start, flex-start);
      width: 100%;
      height: 100%;
      padding: 4%;
      color: white;

      h2 {
        font-size: 1.5em;
        max-height: 55%;
        margin: 0;

        @media (max-width: 668px) {
          font-size: 1.5em !important;
        }

        @media (max-width: 1025px) {
          font-size: 1.2em;
          overflow: scroll;
        }
      }
     }
  }
}